<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mackwell.nlight"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/mackwell_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <meta-data
     		android:name="android.app.default_searchable"
      	 	android:value="nlight_android.nlight.DeviceActivity" />
        
        <activity
            android:name="com.mackwell.nlight.nlight.PanelStatusActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mackwell.nlight.nlight.PanelListActivity"
            android:label="@string/title_activity_panel_list" >
        </activity>
        <activity
            android:name="com.mackwell.nlight.nlight.LoadingScreenActivity"
            android:label="@string/title_activity_loading_screen"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" 
            android:screenOrientation="userLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             
        </activity>
        <activity
            android:name="com.mackwell.nlight.nlight.PanelInfoActivity"
            android:label="@string/title_activity_panel_info" >
        </activity>
        <activity
            android:name="com.mackwell.nlight.nlight.DeviceListActivity"
            android:label="@string/title_activity_device_list" >
        </activity>
        <activity
            android:name="com.mackwell.nlight.nlight.DeviceInfoActivity"
            android:label="@string/title_activity_device_info" >
        </activity>
        <activity
            android:name="com.mackwell.nlight.nlight.PanelActivity"
            android:label="@string/app_name"
            android:screenOrientation="userLandscape"
            android:parentActivityName="com.mackwell.nlight.nlight.LoadingScreenActivity">
        </activity>
        <activity
            android:name="com.mackwell.nlight.nlight.DeviceActivity"
            android:label="@string/title_activity_device"
            android:parentActivityName="com.mackwell.nlight.nlight.PanelActivity"
            android:screenOrientation="userLandscape">
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
       		</intent-filter>
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
            
        </activity>
        <activity
            android:name="com.mackwell.nlight.nlight.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.mackwell.nlight.nlight.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
		    android:name="com.mackwell.nlight.test.TestActivity"
		    android:label="@string/app_name">
            
       
		</activity>            
        
        
    </application>

</manifest>
